/* Main container */
.projects-container {
    padding: 130px;
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    color: #fff;
    background-color: transparent;
  }
  
  /* Title styling */
  .projects-title {
    text-align: center;
    font-size: 2.5rem;
    margin-bottom: 30px;
    background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
    -webkit-background-clip: text; /* Clips the gradient to the text */
    -webkit-text-fill-color: transparent;
  }
  
  /* Projects grid container */
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }
  
  /* Individual project card */
  .project-card {
    background-color: transparent;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 300px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .project-card:hover {
    transform: translateY(-5px);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
  }
  
  /* Project title */
  .project-title {
    font-size: 1.5rem;
    color: #ffdbf1;
    margin-bottom: 10px;
  }
  
  /* Project description */
  .project-description {
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 15px;
    color: #e0d2ff;
  }
  
  /* Tech stack details */
  .project-techstack {
    font-size: 1rem;
    margin-bottom: 15px;
    color: #ffffff;
  }
  
  /* View project link */
  .project-link {
    text-decoration: none;
    color: #ffffff;
    background-image: linear-gradient(-225deg, #A445B2 0%, #D41872 52%, #FF0066 100%);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  .project-link:hover {
    background-color: #e875b5;
  }
  